<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prime</title>
</head>
<body>

<style>
    html, body {
        margin: 0;
        padding: 0;
        border: none;
    }
    * {
        box-sizing: border-box;
    }
    main {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-top: 5vh;
    }
</style>

<main>
    <div class="main">
        <h1>Prime Searcher</h1>

        <table>
            <tr>
                <td>Started at:</td>            <td th:text="${started}"></td>
            </tr>
            <tr>
                <td>Latest prime: </td>         <td th:text="${latestPrime}"></td>
            </tr>
            <tr>
                <td>Found at: </td>             <td th:text="${foundAt}"></td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>